<!DOCTYPE html>
<html lang="en">

<% include _head %>


<body style="background-color: floralwhite;">

<% include _nav %>

<!-- Page Header -->
<header class="intro-header" style="">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="/"> <img src="/img/wobly.png"  class="site-heading" style="width: 100%; cursor: pointer;"> </a>
            </div>

            <div class="col-xs-8">
                <div class="site-heading" style="color:#333; text-align: left;">
                    <section class="subheading">
                        <h2>The idea</h2>

                        <p>
                            was to create a completely computer-generated blog, "written" by  Wobly. He is a fictional charachter, a robot and art critic who "blogs" about human arts.
                        </p>

                        <h2>The technicalities</h2>
                        <p>
                            Every day a random word is picked. Then an image, hopefully an artwork, is found for this word using Google.
                            Then the image is given a caption and tags using <a href="https://en.wikipedia.org/wiki/Computer_vision">computer vision</a> technologies.
                        </p>
                    </section>


                </div>
            </div>
        </div>
    </div>
</header>

</body>

</html>